html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
* {
  margin:0 ;
}
html {
  height: 100%;
}
body {
  background-image: url("Game_of_Thrones_Art_Illustration_The_World_of_Ice_and_Fire_PP04_Gates-of-The-Moon.jpg");
  background-color: brown;
  background-position: center;
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size: cover;
}


#root {
  width: 100%;
}


.footer {
  position: static;
  margin-top: 2rem;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: black;
  text-align: center;
}